USE [master]
GO
/****** Object:  Database [PoliziaMunicipale]    Script Date: 28/02/2025 13:27:21 ******/
CREATE DATABASE [PoliziaMunicipale]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PoliziaMunicipale', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PoliziaMunicipale.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PoliziaMunicipale_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PoliziaMunicipale_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PoliziaMunicipale].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PoliziaMunicipale]
GO
/****** Object:  Table [dbo].[ANAGRAFICA]    Script Date: 28/02/2025 13:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANAGRAFICA](
	[idanagrafica] [int] IDENTITY(1,1) NOT NULL,
	[Cognome] [varchar](20) NOT NULL,
	[Nome] [varchar](20) NOT NULL,
	[Indirizzo] [varchar](100) NOT NULL,
	[Città] [varchar](20) NOT NULL,
	[CAP] [varchar](5) NOT NULL,
	[Cod_Fisc] [varchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idanagrafica] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cod_Fisc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_VIOLAZIONE]    Script Date: 28/02/2025 13:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_VIOLAZIONE](
	[idviolazione] [int] IDENTITY(1,1) NOT NULL,
	[descrizione] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idviolazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VERBALE]    Script Date: 28/02/2025 13:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VERBALE](
	[idverbale] [int] IDENTITY(1,1) NOT NULL,
	[DataViolazione] [date] NOT NULL,
	[IndirizzoViolazione] [varchar](100) NOT NULL,
	[Nominativo_Agente] [varchar](20) NOT NULL,
	[DataTrascrizioneVerbale] [date] NOT NULL,
	[Importo] [money] NOT NULL,
	[DecurtamentoPunti] [int] NOT NULL,
	[idanagrafica] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idverbale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VERBALE_VIOLAZIONE]    Script Date: 28/02/2025 13:27:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VERBALE_VIOLAZIONE](
	[id_verbale_violazione] [int] IDENTITY(1,1) NOT NULL,
	[idverbale] [int] NOT NULL,
	[idviolazione] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_verbale_violazione] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VERBALE]  WITH CHECK ADD  CONSTRAINT [FK_ID_ANAGRAFICA] FOREIGN KEY([idanagrafica])
REFERENCES [dbo].[ANAGRAFICA] ([idanagrafica])
GO
ALTER TABLE [dbo].[VERBALE] CHECK CONSTRAINT [FK_ID_ANAGRAFICA]
GO
ALTER TABLE [dbo].[VERBALE_VIOLAZIONE]  WITH CHECK ADD  CONSTRAINT [FK_ID_VERBALE] FOREIGN KEY([idverbale])
REFERENCES [dbo].[VERBALE] ([idverbale])
GO
ALTER TABLE [dbo].[VERBALE_VIOLAZIONE] CHECK CONSTRAINT [FK_ID_VERBALE]
GO
ALTER TABLE [dbo].[VERBALE_VIOLAZIONE]  WITH CHECK ADD  CONSTRAINT [FK_ID_VIOLAZIONE] FOREIGN KEY([idviolazione])
REFERENCES [dbo].[TIPO_VIOLAZIONE] ([idviolazione])
GO
ALTER TABLE [dbo].[VERBALE_VIOLAZIONE] CHECK CONSTRAINT [FK_ID_VIOLAZIONE]
GO
USE [master]
GO
